<p>
	<label class="Playlist-matched">
		{{input type="checkbox" checked=showMatched}}
		<span id="AnimatedNumber" class="AnimatedNumber">
			{{liquid-bind matched.length}} matched
		</span>
	</label>
</p>

<hr>

<ul class="List">
{{#each items}}
	<li {{bind-attr class="isMatched"}}>
		{{title}}
		{{!-- <img {{bind-attr src=thumbnail alt=title}}> --}}
	</li>
{{/each}}
</ul>

