{{#if playlists.startedMatching}}
	<p>Found <span id="AnimatedNumber" class="AnimatedNumber">{{liquid-bind matched.length}}</span> songs.{{doneText}}</p>
{{/if}}

{{#if playlists.doneMatching}}
	<p>{{zero-clipboard cbTarget="MatchedItems" label="Copy them" action="afterCopy"}}</p>
{{/if}}

{{#if didCopy}}
	<p>Done! Open Spotify, go the playlist where you want your songs and paste them in using <em>CMD+V</em> (or <em>CTRL+V</em> on Windows) to paste them in. That's it!</p>
{{/if}}

<hr>

<p><label class="Playlist-matched">{{input type="checkbox" checked=showMatched}} Only show matched</label></p>

<ul class="List">
{{#each item in filteredModel}}
	<li {{bind-attr class="item.isMatched"}}>
		{{!-- <img {{bind-attr src=item.thumbnail}}> --}}
		{{item.title}}
		{{!-- {{#if item.matches}}
			<ul>
				{{#each match in item.matches}}
					<li>{{match.artist}} - {{match.title}} <small>({{match.album}} from {{match.albumRelease}})</small></li>
				{{/each}}
			</ul>
		{{/if}} --}}
	</li>
{{/each}}
</ul>

<ul id="MatchedItems" style="display: none;">
	{{#each item in matched}}
		<li>{{item.matches.firstObject.url}}</li>
	{{/each}}
</ul>
