<h1 class="Logo">
	{{#link-to 'index'}}&larr;{{/link-to}} {{model.title}}
</h1>

<article {{bind-attr class=":Playlist doneMatching"}}>
	{{!-- <h1 class="Playlist-title">{{model.title}}</h1> --}}
	{{!-- <p class="Playlist-description">{{description}} - <em>by {{author}}</em></p> --}}
	<p>
		<span id="AnimatedNumber" class="AnimatedNumber">
			{{!-- {{liquid-bind model.items.length}} --}}
			{{model.items.length}}
		</span>
		songs total.
	</p>

	{{playlist-items startedMatching=startedMatching doneMatching=doneMatching items=model.items}}

	{{outlet}}
</article>
