{{#if startedMatching}}
	<p>Found
		<span id="AnimatedNumber" class="AnimatedNumber">
			{{!-- {{liquid-bind matched.length}} --}}
			{{matched.length}}
		</span> songs.{{doneText}}
	</p>
{{/if}}

{{#if doneMatching}}
	<p>{{zero-clipboard cbTarget="MatchedItems" label="Copy them" action="afterCopy"}}</p>
{{/if}}

{{#if didCopy}}
	<h3>Copied!</h3>
	<p>Now you need to:</p>
	<ol>
		<li>Open Spotify</li>
		<li>Create a new playlist (or just go to a playlist)</li>
		<li>Paste the songs in using <em>CMD+V</em> (or <em>CTRL+V</em> on Windows)</li>
	</ol>
	<p>And then the songs should appear in the playlist after a second or two. You're welcome.</p>
{{/if}}

{{#unless didCopy}}
	<hr>

	<p>
		<label class="Playlist-matched">
			{{input type="checkbox" checked=showMatched}} Only show matched
		</label>
	</p>

	<ul class="List">
		{{#each item in filteredItems}}
			<li {{bind-attr class="item.isMatched"}}>
				{{!-- <img {{bind-attr src=item.thumbnail}}> --}}
				{{item.title}}
				{{!-- {{#if item.matches}}
					<ul>
						{{#each match in item.matches}}
							<li>{{match.artist}} - {{match.title}} <small>({{match.album}} from {{match.albumRelease}})</small></li>
						{{/each}}
					</ul>
				{{/if}} --}}
			</li>
		{{/each}}
	</ul>
{{/unless}}

<ul id="MatchedItems" style="display: none;">
	{{#each item in matched}}
		<li>{{item.matches.firstObject.url}}</li>
	{{/each}}
</ul>

{{yield}}
