<h1>Convert</h1>

<form {{action 'add'}}>
	{{input value=playlistID}}
	<button>Add</button>
</form>

<p>{{playlistID}}</p>
<p>url: {{url}}</p>
<p>{{length}} songs</p>

<ul>
	{{#each}}
		<li>
			{{!-- <img {{bind-attr src=video.thumbnail.sqDefault}} alt=""> --}}
			{{video.title}}
		</li>
	{{/each}}
</ul>

{{outlet}}
