<article {{bind-attr class=":Playlist doneMatching"}}>


	<h1 class="Playlist-title">{{title}}</h1>
	{{!-- <p class="Playlist-description">{{description}} - <em>by {{author}}</em></p> --}}

	<p><span class="AnimatedNumber">{{liquid-bind items.length}}</span> songs total.</p>
	<p><button {{action 'match'}}>Find them on Spotify</button></p>

	{{outlet}}

</article>
